<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        tr.htmx-swapping td {
          opacity: 0;
          transition: opacity 1s ease-out;
        }
    </style>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <h1>Movie List</h1>
  {% block content %}
  {% endblock %}
</body>
</html>
