<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        tr.htmx-swapping td {
          opacity: 0;
          transition: opacity 1s ease-out;
        }
    </style>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <h1>Movie List</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th></th>
            </tr>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML swap:1s">
            {% for movie in movies %}
              {% if forloop.last %}
                <tr hx-get="/movies?page=1" hx-trigger="revealed" hx-swap="afterend">
              {% else %}
                <tr>
              {% endif %}
                <td>{{ movie.title }}</td>
                <td>{{ movie.genre }}</td>
                {% include "movies/_delete.html" %}
              </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

